cffi==1.16.0
colorama==0.4.6
cryptocode==0.1
cryptography==41.0.5
numpy==1.26.1
opencv-python==4.8.1.78
pycparser==2.21
pycryptodomex==3.19.0
pypng==0.20220715.0
qrcode==7.4.2
typing_extensions==4.8.0
