
.main-header {
    background-color: #423CDB;
    height: 60px;
    width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin:0;
    background-color: #EFF3F8;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}




.project-name {
    font-family: 'Patua One', sans-serif;
    font-size: 30px;
    color: white;
    line-height: 20px;
    margin: 0;
}
.project-name a{
    color: white;
    text-decoration: none;
}
.project-name:active {
    transform: translateY(2px);
}

/* Добавленные стили для левой и правой частей хедера */
.left-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-link{
    font-size: 17px;
    color: white;
    line-height: 20px;
    margin: 0;
    margin-left: 20px;
    text-decoration: none;
}
.nav-link:active{
    transform: translateY(1px);
}
/* Стили для кнопок входа и создания аккаунта */

.main-content-auth-buttons a, .auth-buttons a, .tests-back-button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding: 8px 15px;
    border-radius: 4px;
}
.main-content-auth-buttons a, .tests-back-button{
    color: #423CDB;
    font-size: 16px;
}
/* Указание шрифта для конкретных классов кнопок */
.main-content-auth-buttons a.login-button, .auth-buttons a.login-button  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border: none;
}

/* Добавление рамки только к кнопке "Создать аккаунт" */
.main-content-auth-buttons a.create-account-button, .auth-buttons a.create-account-button {
    border: 2px solid white;
}
.main-content-auth-buttons a.create-account-button{
    border: 2px solid #423CDB;
}
/* Эффект "затемнения" при наведении на кнопку "Вход" */
.auth-buttons a:hover, .tests-back-button:hover {
    background-color: rgba(255, 255, 255, 0.95);
    transition: background-color 0.5s ease;
    color: #423CDB;
}
.main-content-auth-buttons a:hover{
    background-color: rgba(0,0,139,0.3);
    color: white;
    transition: background-color 0.5s ease;
}
label{
    cursor: text;
}
/* Стили для расположения элементов на главной странице*/
.create{
	display:flex;

	margin: 0 auto 0 auto;
	padding: 100px 70px;
    box-shadow: 0px 0px 14px 2px rgba(34, 60, 80, 0.25);
    background-color: #B0C4DE;
    justify-content: center;
}
.create-content{
	padding: 20px;
	max-width: 600px;
	margin-left: 75px;
    color: white;

}
.create-content h2{
	margin-top: 40px;
    font-size: 34px;
}
.create-content-text{
    background-color: #423CDB;
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 7px;
}
.create-content p{
	margin-top: 40px;
    color: lightcyan;
}

.steps-image {
    width: 120px;
    height: auto;
}
/* Стили для формы восстановления пароля */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}
.password-recovery-body{
    background: linear-gradient(to bottom, #f0f0f0, #dddddd);
}
.recovery-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 400px;
    width: 80%;
    border:#423CDB 1px solid;
    margin-top: -30px;
}

.recovery-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.recovery-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: 500;
}

.recovery-form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.recovery-form input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #423CDB;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    font-family: 'Montserrat', sans-serif;
}

.recovery-form input[type="submit"]:hover {
    background-color: darkblue;
    box-shadow: 0px 0px 5px 5px rgba(59, 72, 236, 0.2);
    color: white;
}

/* Стили для страницы регистрации */
.content-page {
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 648px;
    margin: 0 auto;
    padding-right: 200px;
    padding-top: 40px;
    border-radius: 8px;
}
.registration-page h1{
    margin-bottom: 0;
    margin-top: 50px;
    font-weight: 300;
}
.form-group {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-end;

}
.form-group input, .form-group select{
    flex: 1;
    max-width: 448px;
    border-radius: 3px;
    border-width: 1px;
    margin-left: 20px;
    height: 23px;
    border: 1px solid darkgrey;
    background-color: #FFFFFF;
}
.form-group label{
    margin-left: auto;
}

.form .button, .controls .button, .tests-back-button, .submit-button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    line-height: 20px;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #423CDB;
    border-width: 0;
    max-width: 148px;
    margin: 0 auto;
    cursor: pointer;
}

.form .button:hover, .controls .button:hover, .tests-back-button:hover, .submit-button:hover{
    background-color: white;
    color: #423CDB;
    transition: background-color 0.5s ease;
    box-shadow: 0px 0px 5px 5px rgba(59, 72, 236, 0.2);
}
.tests-page h1{
    margin-top: 70px;
}

.controls .button{
    font-size: 15px;
    border: 1px solid #BCC2CB;
    margin: 5px 20px;
    padding: 5px 8px;
    border-radius: 2px;
}
.controls .delete-button:hover, .tests-back-button:hover{
    background-color: rgba(128,128,128, 0.15);
    color: black;
    box-shadow: 0px 0px 5px 5px rgba(128,128,128, 0.1);
}
.form .button:active, .controls .button:active, .submit-button:active{
    transform: translateY(2px);
}

.form .close-button, .controls .delete-button, .tests-back-button{
    background-color: white;
    color: #333333;
    border: 1px solid #CCCCCC;
    margin-top: 10px;

}
.new-test-buttons{
    padding:0;
}
.delete-button{
    background-color: #FFFFFF;
    min-width: 195px;
}
.form .close-button:hover{
    background-color: rgba(156,156,156, 0.1);
    color: black;
}
.registration-form{
    padding-bottom: 8px;
}
.registration-form input{
    height: 25px;
}
.auth-utilities{
    margin-top: 30px;
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
}
.login-existing{
    margin-top: 23px;

}
.login-existing p{
    margin-bottom: 7px;
}
/* Стили для страницы с ШАБЛОНАМИ*/
.templates-page{
    width: min-content;
    margin: 0 auto;

    margin-top: 75px;
}
.templates-page h1{
    font-weight: 300;
}

.template-images{
    display: flex;
    width: min-content;
    margin: 0 auto;
    background-color: #FFFFFF;

    padding: 50px 180px;

}
.download-buttons{
    display: flex;
    flex-direction: column;

}
.download-buttons button{
    margin-bottom: 12px;
    height: 33px;
    background-color: #423CDB;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}
.download-buttons button:hover{
    background-color: rgba(0,0,139,0.9);
}
.download-buttons button:active{
    transform: translateY(3px);
}
.download-buttons button:last-child{
    margin-bottom: 0;
}
.template img{
    border: 1px solid #333333;
    width: 195px;
    height: 267px;
}
.template p{
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
}
.template:last-child{
    margin-left: 200px;
}
.template img:hover{
    box-shadow: 9px 9px 6px -6px rgba(34, 60, 80, 0.2);
}

/* Стили для страницы с тестами*/
.test-about {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    margin-left: 20px;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.about-header h2 {
    margin: 0;
}

.edit-button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #423CDB;
    color: white;
    border: none;
    cursor: pointer;
}

hr {
    margin: 10px 0;

}

.about-table {
    width: 100%;
}

.about-table tr td:first-child {
    width: 150px;
    font-weight: bold;
}

.tests-table{
    background-color: #CCCCCC;
    margin: 0 auto;
    padding: 0;

}
.tests-table tr th{
    background-color: #423CDB;
    color: white;
    padding: 20px 60px;


}
.tests-table tr th:first-child{
    background-color: #ffffff;
    color: white;
    padding: 20px 40px;

}
.tests-table tbody tr td{
    background-color: white;
    padding: 6px 5px;
}

.tests-table-container {
    background-color: #333333;
    margin: 0 auto;
    position: relative;
    width: max-content;

}
.no-data {
    border: 2px solid #CCCCCC;
    border-top-width: 1px;
    width: 100%;
    color: #333333;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
.no-data p{
    margin: 6px;
}
.checkbox-container input[type="checkbox"] {
    transform: scale(1.75);
    vertical-align: middle;
    margin-right: -10px;
    margin-left: -10px;
}



/* Стили для edit_test_answers.html */

.answer-sheet {
    max-width: 800px;
    margin: 0 auto;
}

.answer-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* Стили для bubbles */
.bubble {
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.bubble:hover {
    background-color: #333;
    color: white;
}
.bubble.selected {
    background-color: #423CDB;
    color: white;
    border: 2px solid mediumblue;
}

.bubble.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.answers-full-content{
    height: min-content;
    background-color: #B0C4DE;


}
.answer-sheet{
    padding: 100px 60px;
    padding-top: 80px;
    background-color: rgba(255,255,255, 0.6);
}
.answers-wrapper{
    border: 2px solid black;
    width: min-content;
    padding: 5px;
    margin: 0 auto;
    background-color: whitesmoke;

}
.h1button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h1button h1{
    margin: 0;
    margin-bottom: 30px;
}
.test-edit-buttons{
    margin: 0 auto;
    display: flex;
}
.test-edit-buttons .tests-back-button{
    display: inline-block;
    max-width: 200px;
    min-width: 130px;
    min-height: 30px;
    color: black;
    font-size: 16px;
}
.test-edit-buttons .tests-back-button:hover{
    background-color: rgb(208,208,208);
}
#saveButton:hover{
    background-color: rgb(0,105,62);
    color: white;

}

#test-b .tests-back-button{
    display: flex;
    border: 2px solid #333333;
    justify-content: center;
    align-items: center;
}
#test-b .tests-back-button:active{
    transform: translateY(2px);
}

/* Стили для поля ввода пароля */
#forPass input, #forConfirmPass input{
    width: 448px;
}

.password-input {
    display: flex;
    align-items: center;
    padding-right: 31px;
}
.toggle-password {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url('../img/eye-icon.svg');
    background-size: cover;
    margin-left: -55px;
}

.password-input .toggle-password:hover{
    opacity: 0.7;
}
.password-input .toggle-password:active{
    opacity: 0.5;
}

.confirm-password-input {
    display: flex;
    align-items: center;
    padding-right: 31px;
}

.toggle-confirm-password {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url('../img/eye-icon.svg');
    background-size: cover;
    margin-left: -55px;
}

.confirm-password-input .toggle-confirm-password:hover {
    opacity: 0.7;
}

.confirm-password-input .toggle-confirm-password:active {
    opacity: 0.5;
}

.new-test-form .form-group #test_template{
    min-width: 454px;
}
.new-test-form .form-group #test_date{
    min-width: 451px;
}





@media screen and (max-width: 768px) {
    .create-content {
        margin: 0 auto;
    }
    .main-content-auth-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .steps-image{
        height: 400px;
        width: 110px;
        margin: 0 auto;
    }
    .create{
        flex-direction: column;
        padding: 20px 0;
    }
    .login-button{
        margin-bottom: 10px;
    }
    .left-section{
        padding-top: 15px;
    }
    .right-section{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .main-header{
        padding-bottom: 30px;
    }
    .registration-form{
        padding-right: 0;
    }
    .form-group input{
        margin: 0;
    }
    .template-images{
        display: flex;
        flex-direction: column;
    }
    .template:last-child{
        margin-right: 0;
        margin-left: 0;
        margin-top: 50px;
    }

    #forPass input, #forConfirmPass input {
        width: 220px;
    }
    .password-input, .confirm-password-input {
        padding-right: 1px;
    }

    .toggle-password, .toggle-confirm-password {
        margin-left: -25px;
    }
    .password-input, .confirm-password-input{
        display: flex;
        flex-wrap: wrap;
    }
    .new-test-form .form-group #test_template{
        min-width: 220px;
    }
    .new-test-form .form-group #test_date{
        min-width: 220px;
    }
    .form{
        padding-right: 0;
    }
}



